.container {
    background-color:#e4d4b2;
    padding: 30px;
    display: inline-block;
    border: 1px solid #444;
    height: 310px;
    width: 310px;
    text-align: center;
    top:80px;
    left:40%;
   position: relative;
}
  


.calculator{
    margin-top: 60px;
    display: inline-block;
}


 .Number{
    background: #ececec;
    border-radius: 8px;
    cursor:pointer;
    padding: 5px 20px;
    margin: 0 7px 15px 17px;
    display: block;
    float :left;  
    font-size: 18px;
    box-shadow: 4px 4px #888888b0;
    width: 9px;
}

.Number:hover{
    background-color:#00fffca8;
}

.calc-row{
    background: #ececec;
    border-radius: 8px;
    cursor:pointer;
    padding: 5px 20px;
    margin: 0 7px 15px 17px;
    display: block;
    float :left;  
    font-size: 18px;
    box-shadow: 4px 4px #888888b0;
    width: 9px;
}

.calc-row:hover{
    background-color:#00fffca8;
}

.input_text{
  width:230px;
  position:relative;
  top: 30px;
  height:25px;
  background-color: #fff;
  border: 1px solid #191b19;
}


.box{
    background-color:#515254b5;
    width: 315px;
    height: 315px;
}

 


     